
body, html {
    background-color: black;
    height: 100%;
    overflow: hidden;
    display: grid;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: absolute;
}

#content-container {
    background-color: white;
    border-radius: 15px;
    opacity: 0.85;
    resize: both;
    width: 65%;
    height: 65%;
    margin: auto;
    padding: 1em;
    position: relative;
}

#title {
    font-size: 28px;
    font-style: oblique;
    margin: 0px;
    display: inline;
    padding-bottom: 5px;
}

.content {
    width: 100%;
}

.sign-container {
    float:left;
    position: relative;
    height: 37%;
    width: 13%;
    margin: 1.66%;
    overflow:hidden;
    background-color: grey;
    cursor: pointer;
    border-radius: 10px;
    z-index: -1;

}

.sign-content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}
.sign-table{
    display:table;
    height:100%;
    width:100%;
    vertical-align: middle;
    text-align: center;
}
.sign-table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
}

#back-button {
    padding: 10px;
    background-color: grey;
    display: block;
    float: right;
    cursor: pointer;
}

#productinfo {
    font-family: monospace;
    font-size: 20px;
    margin-left: 8px;
    float: right;
    padding-top: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#productinfo img {
   max-height: 75px;
   resize: both;
   vertical-align: middle;
   display: inline-block;
}

.sign-image {
    max-width: 100%;
    position: absolute;
    left: 0;
    display: inline-block;
    top: 0;
    z-index: -1;
    color: white;
    fill: white;
    float: none;
    margin: auto;
    padding-top: 15%;
    
}